* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: #EFE7DA; */
}

nav {
    background-color: #149911;
}

.mybtn {
    background-color: #149911;
}

footer {
    width: 100%;
    height: 2rem;
    margin-top: 4rem;
    
}

